@import url('https://fonts.googleapis.com/css?family=Asap:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html { height: 100%; width: 100%; }

body {
    font-family: Asap, sans-serif;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    height: 100%;
    background: black;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/bg-card.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100%;
    width: 100%;
}

.bg-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    height: 100vh;
}

.card {
    width: 340px;
    height: 480px;
    cursor: pointer;
    position: relative;
}

.front, .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
    transition: all .3s ease-in-out;
    border-radius: 5px;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.2);
}

.front {
    transform: perspective(600px) rotateY(0deg);
    border-radius: 5px;
}

.front img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    transform: perspective(600px) rotateY(180deg);
    border-radius: 5px;
}

.back .back-content {
    text-align: center;
}

.back-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.back-content .socials {
    margin-top: 25px;
}

.socials a {
    text-decoration: none;
    color: #333;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    width: 40px;
}
.socials a:hover {
    text-decoration: none;
    color: red;
}

.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}